
 .wrapper {
    margin-bottom: 5vh;
        width: 100vw;
	 display: grid;
	 grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
	 gap: 2rem;
	 justify-content: space-evenly;
}
 .cardAbout {
     width:25vw;
     height:50vh;
	 overflow: hidden;
	 box-shadow: 0 2px 20px #e1e5ee;
	 border-radius: 0.2rem;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 cursor: pointer;
	 transition: transform 200ms ease-in;
}
 .card__image {
	 /* height: 12rem; */
     max-width: 10vw;
	 width: 100%;
	 object-fit: cover;
     margin-top: 2vh;
     margin-bottom: 2vh;
}
 .card__title {
	 padding: 1rem;
}
 .card__description {
     color:#667085;
	 padding: 0 3vw;
     font-size: smaller;

}
 .card__btn {
	 padding: 1rem;
	 font-family: inherit;
	 font-weight: bold;
	 font-size: 1rem;
	 margin: 1rem;
	 border: 2px solid #d50000;
	 background: transparent;
	 color: #d50000;
	 border-radius: 0.2rem;
	 transition: background 200ms ease-in, color 200ms ease-in;
}
 .cardAbout:hover {
	 transform: scale(1.02);
}
 .cardAbout:hover .card__btn {
	 background: #d50000;
	 color: white;
}
.card__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 