.mainCard{
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* height: 100vh; */
    /* top:70vh; */
    width: 50vw;
}
.mainCard p{
    font-size: 20px;
   

}
.desc{
    /* color: #667085; */
}
.imgCone1{
    /* padding-top:30%; */
    position: relative;
    left: 35vw;
    height:100vh;
    /* top:5vw */

}
.imgCone2{
    padding-top: 8%;
    position: relative;
    left: 7vw;


}
/* .imgCone1 img,.imgCone2 img{
    max-height: 50vh;
    max-width: 50vw;
} */
.BtnGroup{
    position: relative;
    padding-right: 5vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* bottom:55vh; */

}
.BtnGroup Button{
    margin-left: 4vw;
}
.CarousalCardContent{
    
    width: 60vw;
    /* padding: 0 25rem; */
    /* width:50%; */
    /* background-color: aqua; */
    /* box-shadow: 1px 1px 1px 1px rgba(0.1, 0.1, 0.1, 0.1); */


}
.CarousalCardItem{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

.EventCard{
    padding-bottom: 30%;
    position: relative;
    /* left: 24vw; */
    top:0;
    /* padding-left: 5vw; */
    /* display: flex; */
}

.right-to-left-enter {
    transform: translateX(10%);
    opacity: 0;
}
.right-to-left-enter-active {
    transform: translateX(0);
    transition:transform 500ms ease;
    opacity: 0;
}      

.right-to-left-exit {
    transform: translateX(0);
    opacity: 1;
}
.right-to-left-exit-active {
    transform: translateX(-10%);
    transition:transform 500ms ease;
    opacity: 0;
}      

.left-to-right-enter {
    transform: translateX(-10%);
    opacity: 1;
}
.left-to-right-enter-active {
    transform: translateX(-10%);
    transition:all 500ms ease;
    opacity: 0;
}      

.left-to-right-exit {
    transform: translateX(0);
    opacity: 1;
}
.left-to-right-exit-active {
    transform: translateX(10%);
    transition:transform 500ms ease;
    opacity: 0;
}     
.bottomCard{
    height:90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.btn{
    position: relative;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    
}
.mainCard .EventDetailsImg img{
    max-width: 55vw;
    max-height: 75vh;
}


@media only screen and (max-width: 1480px){
    .mainCard{
        width:50vw;
        position: relative;
        top:30vh;
        /* right:5vw; */
        /* left: 10vw; */
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

      
    }
    .mainCard p{
        font-size: 2vh;
    }
    .imgCone1 img{
        max-width: 20vw;
        max-height: 20vh;
    }
    .imgCone1{

        position: relative;
        height:100vh;
        /* max-width: 20vw; */
        /* max-height: 20vh; */
        /* top:55vh; */

    }
    .imgCone2{
        /* top:15vh; */
    }
   
    .BtnGroup {
        /* margin-top: 5vh; */
       /* margin-bottom: 10vh; */
        
    }
    .EventDetailsImg {
        height: 40vh;
    }
   
}
@media only screen and (max-width: 600px){
    .eventCarousal{
        
    }
    .CarousalCardContent p{
        font-size: 1.5vh;
    }
    .mainCard{
        padding-top: 10vh;
    }
    .CarousalCardContent{
        margin-bottom: 30vh;
    }
    
    .BtnGroup{
        margin-top: 75vh !important;
    }
    
    .BtnGroup Button{
        max-width: 35vw;
        max-height: 10vh;
        font-size: 1.1vh;
        font-weight: bold;
    }
    .EventDetailsImg{
        max-height: 30vh;
    }
    
}