.EventFooterImg{
    /* position: relative; */
    display: flex;
   
    /* padding-top: 15vh; */
    font-weight: bold;
}
.regBtn {
    margin-left: 1vw;
    margin-right:1vw;
    /* margin-bottom:10vh; */
}
.EventFooterMain{
    position: relative;
    top:40vh;
}

@media only screen and (min-width: 900px){
    .EventFooterMain{
        position: relative;
        top:20vh;
    }
}
@media only screen and (max-width: 600px){
    .regBtn{
        /* margin-top: 5vh; */
    }
    .regBtn Button{
        max-width: 30vw;
        max-height: 10vh;
        font-size: 7px;
    }
    .EventFooterMain{
        margin-top: 20vh;
    }
}