.download-brochure {
    position: fixed;
    top: 50%;
    right: 0;
    transform:translateX(45%) translateY(-50%) rotate(90deg);
    z-index: 5;
    /* left:1; */
    background-color: black;
    
  

  }
  .download-brochure Button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .download-brochure-btn {
    text-align: center;
    padding: 8px 30px;
    background-color: #2D2D2D;
    color: #fff;
    border: none;
    border-radius: 5px;
    
    /* cursor: pointer ; */
  }
  