.navlinks{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}
.navbar-main{
    /* height: 13vh; */
    /* position: fixed; */
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.navContainer{
    justify-content: space-evenly;
}
.navBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.NavBtnRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.navlinksBtn:hover {
     /*will change background-color of element on hover */
    color: red !important ; /*will change color of text within the element on hover */
}

@media only screen and (min-width: 900px){
    .NavBtnRegister{
        margin-left: 25vw;
    }
    .navlinks{
        justify-content: center;
        margin-left:25vw;
    }

}