.Timer {
    text-align: center;
    background: transparent;
    margin-top: 15vh;
    /* position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; */
  }
  
   .plane2{
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* padding-top: 15vh; */
    padding-left: 10vw ;
    padding-bottom: 5vw;
   }